* {
  margin:0; padding:0;
}
:root{
  --profile-accent:#6a417a;   /* 見出し色 */
}

body{
  font-family: sans-serif ;
  background-color: #e5d8e9;
}
.modal__dialog{
  background-color: #e5d8e9;
}
#pImg{
  transform: scale(1.08);
}