* {
  margin:0; padding:0;
}
body{
  font-family: sans-serif ;
  background-color: #dfdad4;
}

.pagebar__title{
  font-weight: bold;
}
.chara-link{
  color: white;
  text-decoration: none;
}
.chara{
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.post-footer a {
  background: #303030;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2em auto;
  max-width: 280px;
  padding: 10px 25px;
  color: #ffffff;
  transition: 0.3s ease-in-out;
  font-weight: 500;
  text-decoration: none;
}
.post-footer a:hover {
  background: #ffffff;
  color: #000000;
}
.post-footer a:after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #313131;
  border-right: 3px solid #313131;
  transform: rotate(45deg) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 20px;
  border-radius: 1px;
  transition: 0.3s ease-in-out;
}
.post-footer a:hover:after {
  border-color: #FFF;
}



